In [12]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Activation
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score

## 学習

In [2]:
df = pd.read_csv('train.csv')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,52,services,married,secondary,no,108,yes,no,unknown,15,may,543,12,-1,0,unknown,no
1,35,admin.,married,unknown,no,1055,no,no,cellular,2,mar,59,2,-1,0,unknown,no
2,37,blue-collar,married,secondary,no,32,yes,no,unknown,20,may,146,2,-1,0,unknown,no
3,57,unemployed,married,primary,no,2743,no,no,cellular,29,jan,89,1,-1,0,unknown,no
4,42,self-employed,married,tertiary,no,6383,no,no,cellular,27,aug,111,5,-1,0,unknown,no

In [3]:
def get_features(df):
    # 特徴量として使う連続量
    features_ana = ['age', 'balance']
    # 連続値として使うカテゴリ値
    features_dig = ['job', 'housing']
    X = np.concatenate(
        [df[features_ana].values, pd.get_dummies(df[features_dig]).values],
        axis=1)
    return X

def get_label(df):
    y = df['y'].replace({'yes': 1, 'no': 0}).values
    return y

In [4]:
# 特徴量, ラベルを作成
X = get_features(df)
y = get_label(df)

In [5]:
input_dim = X.shape[1]
# 隠れ層なしのNN
model = Sequential([
    Dense(1, input_shape=(input_dim, )),
    Activation('sigmoid'),
])

In [6]:
model.compile(optimizer='rmsprop',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [7]:
model.fit(X, y, epochs=10, batch_size=32)

Epoch 1/10
40689/40689 [==============================] - 1s 26us/step - loss: 6.3157 - acc: 0.5881
Epoch 2/10
40689/40689 [==============================] - 1s 23us/step - loss: 1.8774 - acc: 0.8835
Epoch 3/10
40689/40689 [==============================] - 1s 23us/step - loss: 1.8900 - acc: 0.8815
Epoch 4/10
40689/40689 [==============================] - 1s 23us/step - loss: 1.8810 - acc: 0.8822
Epoch 5/10
40689/40689 [==============================] - 1s 24us/step - loss: 1.4414 - acc: 0.8716
Epoch 6/10
40689/40689 [==============================] - 1s 23us/step - loss: 0.5053 - acc: 0.8647
Epoch 7/10
40689/40689 [==============================] - 1s 22us/step - loss: 0.4899 - acc: 0.8669
Epoch 8/10
40689/40689 [==============================] - 1s 22us/step - loss: 0.4797 - acc: 0.8652
Epoch 9/10
40689/40689 [==============================] - 1s 22us/step - loss: 0.4806 - acc: 0.8674
Epoch 10/10
40689/40689 [==============================] - 1s 22us/step - loss: 0.4779 - acc: 0.8689

## テスト

In [8]:
test_df = pd.read_csv('test.csv')

In [9]:
test_X = get_features(test_df)
test_y = get_label(test_df)

In [10]:
# accuracy
pred = model.predict(test_X).reshape(-1)
pred = (pred > 0.5).astype(int)

In [13]:
# test ARI (この値を報告してください)
accuracy_score(test_y, pred)

0.8781512605042017